//Hamburger menu animation
@keyframes line1 {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0) rotate(0);
    }
    100% {
        transform: rotate(-45deg);
    }
}
@keyframes line3 {
    0% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(0)rotate(0);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes line1r {
    0% {
        transform: translateY(0) rotate(-45deg);
    }
    50% {
        transform: rotate(0);
    }
    100% {
        transform: translateY(-5px);
    }
}

@keyframes line3r {
    0% {
        transform: translateY(0) rotate(45deg);
    }
    50% {
        transform: rotate(0);
    }
    100% {
        transform: translateY(5px);
    }
}
//Hamburger menu animation end
//Mobile navbar animation start
@keyframes openNav {
    0% {
        display: none;
        top: 30%;
    }
    50% {
        display: flex;
    }
    100% {
        display: flex;
        top: 100%;
    }
}
@keyframes border {
    100% {
        transform: rotate(1turn);
    }
}
//Mobile navbar animation end