$bg: #12130F;
$primary: #DB3A34;
$secondary: #70869B;
$txt: #4D6CFA;
$accent: #6E508C;
$brand: #999;
$githover: #fafafa;
$inhover: #0a66c2;
$twhover: #1da1f2;
$fbhover: #1778f2;
$ighover: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
$html: #e34f26;
$css: #002561;
$js: #f7df1e;
$bs: #563d7c;
$sass: #cc6699;