@import "colors.scss";
// iPads, Tablets
@media only screen and (max-width: 768px) {
    main {
        section {
            .container {
                max-width: 80%;
                flex-direction: column;
            }
        }
        #landing {
            text-align: center;
            .ld, .rt {
                width: 100%;
            }
            .ld {
                order: 2;
                .btns, .social {
                    width: 100%;
                }
            }
        }
        #about {
            .container {
                .lt, .rd {
                    width: 90%;
                    margin: auto;
                }
                .rd {
                    #info {
                        div {
                            width: initial;
                        }
                    }
                }
            }
        }
    }
}
// Mobile devices
@media only screen and (max-width: 620px) {
    header {
        position: relative;
        .brand {
            width: 50%;
            order: 1;
        }
        label[for="menu"] {
            width: 25px;
            height: 10px;
            cursor: pointer;
            align-items: center;
            order: 3;
            position: relative;
            div {
                width: 25px;
                height: 2px;
                background: $secondary;
                border-radius: 2px;
                position: absolute;
                transition: .3s opacity linear .2s;
                &:first-of-type {
                    animation: line1r .65s cubic-bezier(0.68, 0.01, 0.13, 0.16) both;
                }
                &:last-of-type {
                    animation: line3r .65s cubic-bezier(0.68, 0.01, 0.13, 0.16) both;
                }
            }
        }
        input[type="checkbox"] {
            visibility: hidden;
            &:checked + label {
                div {
                    &:first-of-type {
                        animation: line1 .65s cubic-bezier(1, 0.82, 0.165, 1) both;
                    }
                    &:nth-of-type(2) {
                        opacity: 0;
                    }
                    &:last-of-type {
                        animation: line3 .65s cubic-bezier(1, 0.82, 0.165, 1) both;
                    }
                }
            }
            &:checked + label ~ nav {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 0;
                animation: openNav .5s linear both;
            }
        }
        nav {
            display: none;
            order: 2;
            margin: auto;
            width: 100%;
            transition: all .3s linear;
            .menu-items {
                justify-content: center;
                li {
                    margin: 10px;
                }
            }
        }
    }
    .wider {
        background: rgba($color: $accent, $alpha: .5);
        nav {
            background: rgba($color: $accent, $alpha: .5);
        }
        &:hover {
            background: rgba($color: $accent, $alpha: .7);
            nav {
                background: rgba($color: $accent, $alpha: .7);
            }
        }
    }
    main {
        #landing {
            .ld {
                .btns, .social {
                    width: 100%;
                }
            }
        }
    }
}